---
title: Ben Aubin
---

%section.top
  #name-block.text-xs-center
    %h1.name Ben Aubin
  .scroll-button
    %i(class="material-icons") arrow_drop_down
%section.timeline-header
  .text-sm-center
    %h2 My Academic Life:
%section.timeline
  .timeline-item
    = image_tag "./assets/images/noun-project/baby/noun_baby_cc.png", width: 50
    .title
      %h2 Born
    .date.lead Febuary 20th, 2003
    .content
      %p.lead
        I was born on Febuary 20th, 2003,
        making me 13 years old as of the date
        this application was submitted.
  .timeline-item
    = image_tag "./assets/images/entering-kindergarten.jpg", width: 50
    .title
      %h2 Started Kindergarten
    .date.lead 
      Kindergarten <br>
      Age 5<br>
      September 2nd, 2008
    .content
      %p.lead
        I started Kindergarten at ACE Academy,
        but our family, along with most of the
        rest of my class, decided not to return
        to the school for 1st grade.
  .timeline-item
    = image_tag "./assets/images/sre.jpg", width: 50
    .title
      %h2 Started 1st Grade at SRE
    .date.lead
      1st Grade <br>
      Age 6<br>
      August 23rd, 2009
    .content
      %p.lead
        Soon after starting 1st grade in the gifted program
        at Steiner Ranch Elementary, I was bullied by a group
        of kids who made fun of me after I responded that I
        actually enjoyed school. Because of that, and the fact
        that the school didn't have many resources to support
        gifted students, I moved at the end of the year.
  .timeline-item
    = image_tag "./assets/images/st-francis.jpg", width: 50
    .title
      %h2 Started at St. Francis
    .date.lead
      2nd Grade <br>
      Age 7<br>
      September, 2010
    .content
      %p.lead
        I begun school at St. Francis, where I stayed for almost
        4 years. I skipped 3rd grade, going directly to 4th grade.
  .timeline-item
    = image_tag "./assets/images/st-francis.jpg", width: 50
    .title
      %h2 Leaving St. Francis
    .date.lead
      6th Grade<br>
      Age 10<br>
      December 2013
    .content
      %p.lead
        After my friends left St. Francis at the end of my 5th grade year,
        I found it harder to make friends with the teenagers in 6th grade
        as a 10 year old. I started to get picked on in class, and finally
        decided to leave mid-school year.
  .timeline-item
    = image_tag "./assets/images/ACE_crest.png", width: 50
    .title
      %h2 Back to ACE Academy
    .date.lead
      Hybrid<br>
      Age 10<br>
      January 8th, 2014
    .content
      %p.lead
        Returning to ACE, I joined their Hybrid program, a mix of 5th and 6th
        grade that put me in higher classes but allowed me to be in a supportive
        age-level peer group. This allowed me to advance academically and socially.
        Although my grade level dropped, I was taking 6th and 7th grade
        classes that were more challenging and fun then those at St. Francis.
  .timeline-item
    = image_tag "./assets/images/ACE_crest.png", width: 50
    .title
      %h2 Behavior Problems and ADD
    .date.lead
      6th Grade<br>
      Age 12<br>
      Q4 2015
    .content
      %p.lead
        After a year at ACE, I was informed that I would have to improve my behavior to
        be invited back. I spoke with a therapist who specialized in gifted students,
        and I was diagnosed with ADD. I recieved medicine, and worked on improving my
        behavior. At the end of the year, after only a quater, teachers praised my
        improvement and I was invited back.
  .timeline-item
    = image_tag "./assets/images/ACE_crest.png", width: 50
    .title
      %h2 7th Grade at ACE
    .date.lead
      7th Grade<br>
      Age 13<br>
      2015-2016
    .content
      %p.lead
        The next year was great. I developed better relationships with peers, became much
        better at turning in homework, and taught myself to code. I planned on staying at
        ACE through highschool, but in a shocking twist, they removed that option right
        before spring break.
  .timeline-item
    = image_tag "./assets/images/question.jpg", width: 50
    .title
      %h2 Highschool
    .date.lead
      9th Grade<br>
      Age 14<br>
      2017-2018
    .content
      %p.lead
        Now it's my turn to find a new highschool for the 2017 school year.
        
        